body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.user{
    background-color: blueviolet;
    height: 120px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PC{
    background-color: blueviolet;
    height: 120px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactive{
    display: flex;
    flex-wrap: flex;
    gap: 16px;
}